<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Nhập thông tin sản phẩm
    </h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        
        <a href="./"><button type="button" class="btn btn-sm btn-outline-secondary">
                Trở về
            </button></a>
    </div>
</div>
<form action="./add" enctype="multipart/form-data" method="post" class="needs-validation" novalidate>
    <div class="form-group">
        <label for="tensp">Tên sản phẩm</label>
        <input type="text" class="form-control" name="tensp" placeholder="Tên sản phẩm" required>
        <div class="invalid-feedback" style="width: 100%;">
            Bạn chưa nhập tên sản phẩm!!!
        </div>
    </div>
    <div class="form-group">
        <label for="danhmuc">Danh mục sản phẩm</label>
        <select class="custom-select d-block w-100" id="danhmuc" name="danhmuc" style="color:black" required>';
            <option value="">Choose...</option>
            <% danhmuc.forEach(function(dm){ %>
                <option value="<%- dm._id %>"><%- dm.Title %></option>
            <% }); %>
        </select>
        <div class="invalid-feedback">
            Bạn chưa chọn danh mục sản phẩm!!!
        </div>
    </div>
    <div class="form-group">
        <label for="gia">Giá</label>
        <input type="text" class="form-control" name="txtgia" id="txtgia" placeholder="100000" required>
        <div class="invalid-feedback">
            Giá không được để trống!!!
        </div>
    </div>
    <div class="form-group">
        <label for="hinhanh">Hình sản phẩm</label>
        <input name="spImage" type="file" class="card-img" id="spImage" required>
        <div class="invalid-feedback" style="width: 100%;">
            Bạn chưa chọn hình sản phẩm!!!
        </div>
    </div>
    <div class="form-group">
        <label for="mota">Mô tả</label>
        <textarea name="txtmota" id="txtmota" class="form-control" id="textarea"></textarea>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-lg btn-primary" value="Add new"/>
    </div>
</form>