<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/admin/product/">
                    <i class="bi bi-box-seam" style="font-size: 1rem"></i>
                    Sản phẩm
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/danhmuc/">
                    <i class="bi bi-grid" style="font-size: 1rem"></i>
                    Danh mục
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/">
                    <i class="bi bi-people"  style="font-size: 1rem"></i>
                    Khách hàng
                </a>
            </li>
        </ul>
    </div>
</nav>