<section id="hero">
    <div class="hero-container">
      <h3>Welcome to <strong>Sakura</strong></h3>
      <h2>Trang Web review mỹ phẩm</h2>
      <a href="/gioithieu" class="btn-get-started scrollto">Thông tin về chúng tôi</a>
    </div>
  </section><!-- End Hero -->
