<div class="text-center border-top pt-3">
    <h3>Về thành viên</h3>
    <div class="row">
        <div class="col-lg-6">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="../images/gt1.jpg">
            <h2>Thái Đoàn Mai Phương</h2>
            <p>MSSV: 18086291<br></p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-6">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="../images/gt2.jpg">
            <h2>Võ Kim Hằng</h2>
            <p>MSSV: 18086311<br></p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="../images/gt3.jpg">
            <h2>Lê Thị Cẩm Hằng</h2>
            <p>MSSV: 18035391<br></p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-6">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="../images/gt4.jpg">
            <h2>Nguyễn Thị Phương</h2>
            <p>MSSV: 18045321<br></p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="../images/gt5.jpg">
            <h2>Chu Thanh Sơn</h2>
            <p>MSSV: 18028221<br></p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>
    <hr>
    <h3>Về Website của chúng tôi</h3>
    <div class="container">
        <p>Website review mỹ phẩm trực tuyến bao gồm các danh mục sản phẩm: trang điểm, chăm sóc da, chăm sóc
            cơ thể, các thông tin về sản phẩm cùng với những thông tin khuyến mãi và review về sản phẩm. Ngoài ra
            website còn bao gồm những thông tin cần thiết về website giúp người dùng dễ dàng tìm kiếm và liên hệ hỗ trợ
            qua các ứng dụng facebook, zalo, số điện thoại.</p>
        <p>Hiện nay, internet phát triển mạnh, việc cùng nhau mua sắm online không chỉ nhận được ý kiến tư vấn của mọi
            người xung quanh, mà còn tiết kiệm được thời gian mua đồ, chi phí vận chuyển và thậm chí hưởng thêm khuyến
            mãi. Mua sắm online ngày nay không chỉ nhanh và tiện, mà còn đảm bảo đầy đủ quyền lợi cho người mua hàng với
            các chính sách đổi trả hoàn tiền hợp lí. Vì thế, việc tạo ra website bán mỹ phẩm trực truyến như trên vô
            cùng cần thiết đối với thời đại thương mại điện tử phát triển như ngày nay.</p>
    </div>
</div>