<div class="album py-5 bg-light">
    <div class="col-md-12">
        <h2 style= color:#F70C6B>6 MẸO LÀM ĐẸP DA TIẾT KIỆM NHẤT</h2><br>
        <p>Có rất nhiều loại thực phẩm có lợi cho da. Nhưng 6 loại thực phẩm dưới đây được cho là tuyệt vời nhất mà có thể bạn chưa hề nghe nhắc tới.</p>
        <p>Có rất nhiều loại thực phẩm có lợi cho da. Nhưng 6 loại thực phẩm dưới đây được cho là tuyệt vời nhất mà có thể bạn chưa hề nghe nhắc tới.</p>
        <p>Giữ gìn làn da khỏi những tác động có hại từ môi trường tự nhiên như ánh mặt trời hoặc khí hậu... chính là làm giảm nhẹ ảnh hưởng xấu của các gốc tự do "nguy hiểm".</p>
        <p>Chỉ có những biện pháp từ tự nhiên mới được coi là đáp ứng hai yêu cầu trên, trong đó có các loại trái cây, đặc biệt là 2 loại quả đu đủ và quả bơ có tác dụng tốt nhất.</p>
        
        
        <p>Để có làn da trẻ trung về lâu về dài, bạn hãy thử 6 cách thức sau đây xem sao.</p>
        <h3>1. Dùng quả đu đủ</h3>
        <p>Nhờ hàm lượng carotene, vitamin C, khoáng chất thiết yếu và các enzyme papain... cao, đu đủ được coi là loại quả có tác dụng rất tốt cho da. Không những có thể tẩy tế bào chết và dưỡng ẩm tự nhiên mà nếu thường xuyên ăn đu đủ còn làm cho sáng da, giảm thiểu sự xuất hiện của các đốm đồi mồi. Đu đủ cũng có công dụng thu hẹp lỗ chân lông, làm cho da mềm mại và khỏe mạnh hơn.</p>
        <p>Ứng dụng: Không giống như một số biện pháp tự nhiên khác yêu cầu phải nghiền, pha trộn... bạn hoàn toàn có thể ăn đu đủ trực tiếp. Hoặc bạn cũng có thể ép lấy nước bôi lên da. Cả hai cách này đều cung cấp cho da đầy đủ các chất như kali, chất xơ, vitamin A và C.</p>
        <br>
         <img class="bd-placeholder-img bd-placeholder-img-lg img-fluid mx-auto"  src="../images/bt12.jpg" /><br>
        <br>
        <h3>2. Dùng quả bơ</h3>
        <p>Để duy trì tính dẻo dai cho làn da khắp cơ thể, hãy bổ sung vitamin phù hợp. Và quả bơ chính là một "ngân hàng" vitamin mà da đang rất cần. Quả bơ có chứa đầy đủ các vitamin A, B, D và E. Quả bơ giàu kali hơn chuối và chứa các chất béo lành mạnh nên có thể trở thành một loại kem dưỡng ẩm lý tưởng từ thiên nhiên.</p>
        <p>Quả bơ cũng giúp giảm thiểu dấu hiệu lão hóa như nếp nhăn và các vết chân chim. Các loại dầu tự nhiên trong bơ thậm chí còn có thể loại bỏ bụi bẩn trên da. Quả bơ cũng là một lựa chọn điều trị tuyệt vời cho các bệnh nhân đang chữa trị bệnh chàm, mẩn đỏ và da nhạy cảm. </p>
        <p>Ứng dụng: Nếu không muốn mất thời gian để làm mặt nạ và đắp, bạn có thể nghiền quả bơ ra và trộn với sữa để ăn. Nếu không muốn trộn sữa thì có thể làm sinh tố cho dễ uống. Tuy nhiên, cần lưu ý cho lượng đường hoặc sữa vừa phải để tránh các nguy hiểm khác do tiêu thụ nhiều đường gây ra.</p>
        
        <h3>3. Dùng mật ong</h3>
        <br> <img class="bd-placeholder-img bd-placeholder-img-lg img-fluid mx-auto"  src="../images/bt14.jpg" /><br>
        <br><p>Mật ong có đặc tính chống vi khuẩn nên có thể hỗ trợ trong điều trị mụn. Hơn nữa, giá cả của mật ong cũng phải chăng nên chị em có thể dùng để rửa mặt hàng ngày, mỗi lần chỉ cần một vài giọt.</p>
        <p>Ứng dụng: Đơn giản chỉ cần thêm một ít nước ấm với mật ong để làm để rửa mặt, chắc chắn bạn sẽ nhanh có làn da mịn màng hơn.</p>
        <h3>4. Ngủ ngon, hạn chế stress</h3>
        <p>Ngủ ít ban đêm hay lo lắng quá nhiều có thể làm người phụ nữ già hơn tuổi thực rất nhiều.</p>
        <p>Giải pháp: Hãy quên hết mọi thứ khi lên giường đi ngủ để có một giấc ngủ sâu, đủ giấc, giảm lo lắng, xung đột hay muộn phiền... Hạnh phúc và không bị stress cũng là một phương thức chống lão hóa hiệu quả nhất.</p>
        <h3> 5. Chế độ ăn</h3>
        <p>Da của bạn sẽ phản ánh toàn bộ sức khỏe của bạn. Một làn da khỏe mạnh, sáng mịn chứng tỏ một cơ thể khỏe mạnh. Bạn nên hạn chế lượng calo trong chế độ ăn uống vì chúng sẽ làm chậm quá trình lão hóa tuổi tác.</p>
        
        <br> <img class="bd-placeholder-img bd-placeholder-img-lg img-fluid mx-auto"  src="../images/bt13.jpg" /><br>
        <br><p>Giải pháp: Nếu bạn sợ tăng cân thì có thể cắt các món hản sản trong thực đơn của mình. Uống nước đủ mỗi ngày kèm theo chế độ ăn nhiều rau xanh, hoa quả sẽ giúp làn da của bạn sáng ngời. Khi ăn bữa tối cần bổ sung nhiều vitamin C hay các thực phẩm chứa protein, giúp da phục hồi tính đàn hồi và nhẵn mịn.</p>
        <p>Tình trạng lão hóa thường xảy ra do lượng collagen bị thâm hụt theo thời gian dẫn đến gương mặt xuất hiện nhiều nếp nhăn. Bổ sung collagen cho da đồng nghĩa với việc giúp giảm mức độ oxy hóa, để da có cơ hội tái tạo, từ đó mang lại vẻ căng mịn.</p>
        <h3>6. Dưỡng ẩm</h3>
        <p>Da mất độ ẩm là nguyên nhân khiến nếp nhăn ầm ầm kéo đến bởi làn da khô luôn là khu vực thuận lợi để các nếp nhăn sinh sôi nảy nở.</p>
        <p>Da mất độ ẩm sẽ lão hóa cực nhanh, chính vì thế việc bổ sung độ ẩm là tối quan trọng trong việc chăm sóc và chống lão hóa cho da. 70% cơ thể người là hỗn hợp nước, chính vì thế nên uống đủ 8 cốc nước mỗi ngày để đảm bảo lượng nước cung cấp cho cơ thể và làn da. Ngoài ra cũng nên dưỡng da bằng kem dưỡng ẩm và đắp mặt nạ mỗi tuần.</p>
   
      </div>
</div>