<div class="album py-5 bg-light">
    <div class="col-md-12">
        <h2 style= color:#F70C6B> MẸO LÀM ĐẸP CỰC HAY BẰNG THÌA INOX</h2><br>
        <p>Không chỉ đơn giản là vật dụng trong gian bếp mà thìa inox còn có công dụng giúp chị em làm đẹp đến bất ngờ.</p><br>
        <img class="bd-placeholder-img bd-placeholder-img-lg img-fluid mx-auto"  src="../images/bt7.jpg" /><br>
        
        <br><h3>Sử dụng thìa inox thế nào cho tốt?</h3>
        <p>Thìa inox là vật dụng quen thuộc mà chúng ta thường sưt dụng hàng ngày để ăn cơm. Là vật dụng tiếp xúc trực tiếp với miệng do đó bạn cần chú ý vệ sinh sạch sẽ sau khi dùng.</p>
        <p>Để thìa ở nơi thoáng mát, tránh bị nhiễm khuẩn gây hại. Dùng nước rửa bát để làm sạch, nếu không dùng đến ngay thì để thìa khô mới nên bảo quản trong túi hay hộp, tránh tình trạng ẩm mốc gây gỉ sét.</p>
        <p>Nên mua loại inox tốt, không pha tạp chất để đảm bảo sức khỏe và có tuổi thọ được lâu hơn. Bên cạnh đó, thìa inox còn được một số bạn gái dùng như một dụng cụ làm đẹp tiện lợi và hữu ích.</p><br>
         <img class="bd-placeholder-img bd-placeholder-img-lg img-fluid mx-auto"  src="../images/bt8.jpg" /><br>
        <br><h3>Mẹo làm đẹp từ thìa inox</h3>
        <p>Dùng thia inox để làm đẹp cực đơn giản, chỉ vài phút sẽ giúp khuôn mặt bạn rạng ngời đến bất ngờ.</p>
        <p>Xóa quầng thâm mắt</p>
        <p>Dùng hai thìa inox, cho vào tủ lạnh khoảng 10 phút áp lên vùng bọng mắt. Việc làm này sẽ giúp vùng da quanh mắt săn chắc, giảm sưng đau, những vết thâm quàng trên bọng mắt sẽ dần biến mất.</p>
        <p>Giảm bọng mắt</p>
        <p>Cũng tương tự như xóa quầng thầm trên mắt bạn có thể dùng 2 chí thìa inox lạnh và áp vào 2 bên mắt, sau đó massage để được thoải mái và tỉnh táo hơn. Đây là giải pháp rất tuyệt cho những bạn thường xuyên thức khuya. </p>
        <p>Trị mụn bằng thìa inox</p>
        
        <p>Dùng thì inox ngâm vào cốc nước nóng ấm, độ nóng vừa phải sao cho không bị bỏng da rồi áp lên nốt mụn cho đến khi thì nguội thì lấy da. Việc áp nóng này sẽ khiến mụn không còn sưng đau, và xẹp đi nhanh chóng.</p>
        <br> <img class="bd-placeholder-img bd-placeholder-img-lg img-fluid mx-auto"  src="../images/bt9.jpg" /><br>
        <br><p>Uốn lông mi</p>
        <p>Không có kẹp mi hay trong những tình huống “khẩn cấp” bạn có thể “vơ” 1 cái thìa inox trong bếp để uống mi rất hay.</p>
        <p>Dùng thìa inox kẹp sát vào chân lông mi rồi dùng tay nhấn nhẹ nhàng vào hàng mi, kéo nhẹ nhàng theo chiều chiếc thìa hướng ra ngoài. Nếu có thời gian bạn có thể làm nóng chiếc thìa lên để uống lông mi hiệu quả hơn.</p>
        <p>Làm mờ vết thâm</p>
        <p>Thay vì dùng đá lạnh khiến nó chảy nước ra bạn có thể dùng thìa inox để trong tủ lạnh áp lên vùng da bị thâm tấy. Áp lạnh bằng thìa inox này sẽ khiến vết thâm, bầm tím sẽ nhanh chóng mờ đi.</p>
        <br> <img class="bd-placeholder-img bd-placeholder-img-lg img-fluid mx-auto"  src="../images/bt10.jpg" /><br>
        <br><p>Hỗ trợ để đánh má hồng</p>
        <p>Để đánh má hồng chính xác và đều đặn bạn chỉ cần dùng chiếc thìa inox úp lên vùng gò má để phân định danh giới, sau đó đánh phấn má hồng lên khu vực xương gò má mà bạn thấy cân xứng nhất.</p>
   
      </div>
</div>