<div class="album py-5 bg-light">
    <div class="col-md-12">
        <h2 style= color:#F70C6B> โNHแบคN NHรโ CHO LแปP MAKEUP THรM ฤแปT PHร</h2>
        <p>Trang ฤiแปm ฤรฃ dแบงn trแป thรnh thรณi quen hแบฑng ngรy cแปงa cรกc cรด gรกi. Trang ฤiแปm giรบp phรกi nแปฏ chรบng mรฌnh ฤแบนp hฦกn, tแปฑ tin hฦกn, tแบกo thiแปn cแบฃm tแปt hฦกn trong cรกc mแปi quan hแป xung quanh. Ngoรi viแปc โฤแบนpโ vร โtแปฑ tinโ, trang ฤiแปm cรฒn cรณ nhแปฏng sแปฉc mแบกnh vรด cรนng kแปณ แบฃo.</p>
        <br>
        <p>ฤรดi lรบc, vรฌ quรก bแบญn rแปn ฤแป cรณ thแป hoรn thiแปn cรกc bฦฐแปc trong trang ฤiแปm thรฌ viแปc sแปญ dแปฅng nhแปฏng tips nhแป tแบกo โnhแบฅn nhรกโ trรชn gฦฐฦกng mแบทt nhฦฐ mแบฏt, mรดi hay thแบญm chรญ lร kแบป mรy thรดi cลฉng ฤแปง giรบp bแบกn trแป nรชn cuแปn hรบt hฦกn.</p>
        <p>Dรน theo ฤuแปi phong cรกch trang ฤiแปm ร - u, tแปฑ nhiรชn, trong suแปt hay cรก tรญnh, แบฅn tฦฐแปฃng thรฌ nแบฟu biแบฟt thรชm nhแปฏng tips nhแป nรy, Sammi tin rแบฑng chรบng cรณ thแป giรบp lแปp makeup cแปงa bแบกn hiแปu quแบฃ vร แบฅn tฦฐแปฃng hฦกn.</p>
       
        <h3>ฤN QUแบข NHแป Kแบบ CHรN MรY</h3>
        <p>Mแปt khuรดn mแบทt ฤแบนp khรดng thแป thiแบฟu sแปฑ kแบฟt hแปฃp hoรn hแบฃo cแปงa ฤรดi lรดng mรy chuแบฉn mแปฑc, ฤรณ lร quy chuแบฉn cรกi ฤแบนp mร nhiแปu nรng nhแบฅt ฤแปnh khรดng ฤฦฐแปฃc bแป qua. Dรน chแป chiแบฟm diแปn tรญch rแบฅt nhแป trรชn tแปng thแป gฦฐฦกng mแบทt nhฦฐng hรng lรดng mรy cรณ vai trรฒ rแบฅt lแปn quyแบฟt ฤแปnh nhan sแบฏc. Bแปi vแบญy, sแป hแปฏu mแปt cแบทp lรดng mรy ฤแบนp lร ฦฐแปc mong cแปงa rแบฅt nhiแปu cรด gรกi. Nhฦฐng, khรดng phแบฃi ai cลฉng cรณ ฤฦฐแปฃc sแปฑ may mแบฏn ฤรณ, vรฌ nhแปฏng cแบทp lรดng mรy โquรกi chiรชuโ cรณ lรบc thฦฐa, lรบc ngแบฏn,โฆ thแบญm chรญ, chรบng cรฒn khรดng phแบฃi โchแป em sinh ฤรดiโ nแปฏa. Do ฤรณ, kแบป chรขn mรy dแบงn trแป thรnh bฦฐแปc bแบฏt buแปc dรน cho chแป em mรฌnh cรณ makeup hay khรดng thรฌ chรขn mรy cลฉng nhแบฅt ฤแปnh phแบฃi kแบป nรจ!</p>
         <img class="bd-placeholder-img bd-placeholder-img-lg img-fluid mx-auto"  src="../images/bt4.jpg" /><br>
        <p>CHร Kแบบ MรY MAYBELLINE DEFINE & BLEND BROW PENCIL</p>
        <p>Vแปi thiแบฟt kแบฟ tรญch hแปฃp 2 ฤแบงu vรด cรนng tiแปn lแปฃi:<br>
        - Mแปt ฤแบงu chรฌ kแบป dแบกng vแบทn ฤฦฐแปฃc vรกt hรฌnh oval giรบp cho viแปc sแปญ dแปฅng cแปฑc kรฌ dแป dรng vร nhanh chรณng, dรน cรกc cแบญu mแปi tแบญp tรnh kแบป lรดng mรy thรฌ yรชn tรขm vแบซn cแปฉ nuแปt nhรฉ<br>
        - ฤแบงu chแปi cรฒn lแบกi ฤแป tแบกo dรกng cho chรขn mรy vร tรกn ฤแปu chรฌ giรบp lรดng mรy trรดng mแปm mแบกi, tแปฑ nhiรชn hฦกn<br>
        - Packaging chแบฏc chแบฏn, chแบฅt chรฌ mแปm nhฦฐng khรดng hแป dแป gรฃy, lรชn mรu rรต vร ฤแบนp nhฦฐng giรก thรฌ lแบกi siรชu hแปc sinh รฝ.</p>
        <p>CHร ฤแปNH HรNH MรY 2 ฤแบฆU SILKYGIRL PERFECT BROW LINER & POWDER</p>
        <p>Bรบt cรณ thiแบฟt kแบฟ gแปm 2 ฤแบงu vแปi mแปt ฤแบงu chรฌ ฤแปnh hรฌnh cรณ thแป thu vรo, chแบฅt chรฌ รชm nhฦฐ kem vร mแปt ฤแบงu bแปt phแบฅn 3D giรบp dแบทm vร lรm ฤแบงy ฤแบทn chรขn mรy nhฦฐ hรฌnh dรกng ฤรฃ kแบป sแบตn.<br>
        - Bรบt linh hoแบกt, dแป dรng ฤiแปu khiแปn & kแบป trรชn chรขn mรy.<br>
        Cรดng thแปฉc ฤแปt phรก giรบp bแปt bรกm ฤแปu trรชn chรขn mรy, lรขu trรดi suแปt 12h<br>
        Sแบฃn phแบฉm khรดng mรนi hฦฐฦกng, khรดng gรขy kรญch แปฉng da.</p>
        <p>LEMONADE WANT IT GOT IT DUAL EYEBROW - CHร Kแบบ MรY HAI ฤแบฆU CHO LรNG MรY HOรN HแบขO</p>
        <p>Vแปi thiแบฟt kแบฟ 2 ฤแบงu hoรn hแบฃo: 1 ฤแบงu chรฌ kแบป chรขn mรy - 1 ฤแบงu mascara chรขn mรy<br>
        - ฤแบงu chรฌ: dแบนp vร mแบฃnh ฤแป dแป tแบกo dรกng mรy, tแบกo ra nhแปฏng ฤฦฐแปng mรy sแบฏc nรฉt vร cรณ khแบฃ nฤng gแบฉy sแปฃi giรบp tแบกo hรฌnh khuรดn mรy vร giรบp ฤรดi lรดng mรy ฤฦฐแปฃc sแบฏc nรฉt.<br>
        Cรดng dแปฅng: Tแบกo hรฌnh khuรดn mรy, giรบp ฤรดi lรดng<br>
        - ฤแบงu mascara: mแปng thฦฐa dแป dรng lรm ฤแปi mรu lรดng mรy mร khรดng gรขy bแบฟt dรญnh. 100% bแปn mรu suแปt 8h, lรm ฤแปu mรu lรดng mรy, giรบp ฤรดi lรดng mรy trแป nรชn hoรn hแบฃo </p>
        <h3>CHIM KHรN KรU TIแบพNG RแบขNH THร ฤรNH KHแปI Zรร!</h3><br>
        
        <p>Tแบกo khแปi ฤฦฐแปฃc xem lร mแปt trong nhแปฏng bฦฐแปc quan trแปng cแปงa nghแป thuแบญt trang ฤiแปm. ฤรขy lร kแปน thuแบญt giรบp ฤแปnh hรฌnh ฤฦฐแปng nรฉt khuรดn mแบทt hay nรณi cรกch khรกc chรญnh lร kแปน thuแบญt ฤรกnh lแปซa thแป giรกc nhแป hiแปu แปฉng tแบกo khแปi trรชn khuรดn mแบทt. Trฦฐแปc ฤรขy, ฤรกnh khแปi thฦฐแปng dรnh riรชng cho cรกc nghแป sฤฉ trรฌnh diแปn trรชn sรขn khแบฅu. Tuy nhiรชn, แป hiแปn tแบกi, viแปc sแปญ dแปฅng contour vร highlight ฤรฃ trแป thรnh mแปt phแบงn khรดng thแป thiแบฟu trong thรณi quen trang ฤiแปm hรng ngรy cแปงa nhiแปu cรด gรกi.</p>
        <br> <img class="bd-placeholder-img bd-placeholder-img-lg img-fluid mx-auto"  src="../images/bt5.jpg" /><br>
        <p>TแบO KHแปI 2 ฤแบฆU PHOTOSHARP CONTOUR & HIGHLIGHTER</p>
        <p>- Bรบt gแปm c2 ฤแบงu tiแปn dแปฅng: mแปt ฤแบงu giรบp tแบกo khแปi (contour) lรm thon gแปn khuรดn mแบทt, mแปt ฤแบงu bแบฏt sรกng (highlight).<br>
        - Hiแปu แปฉng Contour: tแบกo khแปi vร chiแปu sรขu cho gฦฐฦกng mแบทt, giรบp khuรดn mแบทt bแบกn thon gแปn hฦกn, khแบฏc phแปฅc nhแปฏng hแบกn chแบฟ trong ฤฦฐแปng nรฉt cแปงa khuรดn mแบทt tแบกi cแบฑm, mรก, trรกnโฆ ฤแป cรณ vแบป ngoรi โฤn แบฃnhโ nhฦฐ mong muแปn.<br>
        Sแบฃn phแบฉm cรณ 2 mรu contour phรน hแปฃp vแปi mรu da vร sแบฏc ฤแป tแบกo khแปi mong muแปn.<br>
        - Hiแปu แปฉng Highlight: bแบฏt sรกng cho gฦฐฦกng mแบทt, tแบกo sรณng mลฉi cao trong tรญch tแบฏc (kแบฟt hแปฃp vแปi contour tแบกo khแปi).<br>
        ๐ธ ฤแบทc biแปt, hiแปu แปฉng รกnh kim ngแปc trai cแปงa ฤแบงu bรบt highlight cรณ thแป dรนng ฤแป kแบป viแปn mแบฏt dฦฐแปi giรบp ฤรดi mแบฏt bแบกn trรดng long lanh hฦกn. ฤรดi khi mแปt xรญu nhแบฅn nhรก cรณ thแป tแบกo ra sแปฑ ฤแปt phรก trรชn gฦฐฦกng mแบทt bแบกn.</p>
        <p>FOX PHแบคN Mร HแปNG TแบO KHแปI STUNNING BLUSH</p>
        <p>Lร sแบฃn phแบฉm ฤa tรญnh nฤng khi kแบฟt hแปฃp phแบฅn mรก vร phแบฅn Highlight. Ngoรi tแบกo hiแปu แปฉng cho ฤรดi gรฒ mรก แปญng hแปng vแปi gam mรu thแปi thฦฐแปฃng, sแบฃn phแบฉm nรy cรฒn giรบp tแบกo rรต ฤฦฐแปng nรฉt gรณc cแบกnh cho gฦฐฦกng mแบทt. Sแบฃn phแบฉm thรญch hแปฃp cho nhแปฏng cรด nรng ฦฐa thรญch phong cรกch trang ฤiแปm nรฉt vร sแบฏc sแบฃo.<br>
        - Chแบฅt phแบฅn mแปm mแปn, nhiแปu mรu sแบฏc phรน hแปฃp vแปi mแปi phong cรกch trang ฤiแปm cho gฦฐฦกng mแบทt bแบกn trรดng thแบญt cuแปn hรบt vร khรกc biแปt hฦกn.<br>
        - Sแบฃn phแบฉm rแบฅt thรญch hแปฃp sแปญ dแปฅng vรo ban ฤรชm nhแป khแบฃ nฤng bแบฏt sรกng tuyแปt vแปi khi kแบฟt hแปฃp vแปi phแบฅn tแบกo khแปi highlight mรu trแบฏng cรณ trong sแบฃn phแบฉm.</p>
   
      </div>
</div>