<section id="team" class="team">
    <div class="container-fluid">

      <div class="section-title">
        <h2>Team</h2>
        <h3>Our Hardworking <span>Team</span></h3>
        <p>Hope everyone will pass the course</p>  
      </div>
      <div class="row">
        <div class="col-lg-1 col-md-6 d-flex align-items-stretch">
        </div>
        <div class="col-lg-2 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <div class="member-img">
              <img src="images/gt5.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Chu Thanh Sơn</h4>
              <span>18028221</span>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <div class="member-img">
              <img src="images/gt1.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Thái Đoàn Mai Phương</h4>
              <span>18086291</span>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <div class="member-img">
              <img src="images/gt2.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Võ Kim Hằng</h4>
              <span>18086311</span>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <div class="member-img">
              <img src="images/gt3.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Lê Thị Cẩm Hằng</h4>
              <span>18035391</span>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <div class="member-img">
              <img src="images/gt4.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Nguyễn Thị Phương</h4>
              <span>18045321</span>
            </div>
          </div>
        </div>

        <div class="col-lg-1 col-md-6 d-flex align-items-stretch">
        </div>
    </div>
    </div>
  </section><!-- End Team Section -->
